.seg3 {
    width: 350px;
    height: 250px;
    border: 2px solid #ddd;
   
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.5s, height 0.5s;
    font-family:"Roboto Mono", monospace;
  }
  .seg3:hover {
    width: 400px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(133, 212, 255, 0.7);
  }
  
  .top {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
    gap: 5px; /* Space between the icon and the heading */
   
  }
  
.btm{
    margin-top: 0px ;
}
h6 {
    margin: 0;
    font-size: 30px;
    
    text-decoration: underline;
    
    text-decoration-thickness: 7px;
    
  }
  
p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 100;
  
  }
  